.search-btn {
  height: fit-content;
  padding: 20px;
  background-color: transparent;
  border: none;
  width: fit-content;
}
.search-btn > img {
  height: 25px;
}
.searchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 10px;
  width: 50vw;
}
