.app-ad {
  display: flex;
  flex-direction: row;
  padding: 80px;
  background-color: #53ce98;
}
.store-btn {
  padding: 20px;
  font-size: medium;
  margin-right: 10px;
  border: none;
  background-color: black;
  color: aliceblue;
}
.left {
  padding: 20px;
}
li {
  list-style: none;
}
.left > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right > img {
  width: 60%;
}
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
