.app-ad {
  display: flex;
  flex-direction: row;
  padding: 80px;
  background-color: #53ce98;
}
.store-btn {
  padding: 20px;
  font-size: medium;
  margin: 10px;
  border: none;
  background-color: black;
  color: aliceblue;
}
.left {
  padding: 20px;
}
li {
  list-style: none;
}
