.home-view {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.learn-more {
  padding: 10px;
  border: solid 2px #99bc85;
  border-radius: 30px;
  background-color: transparent;
  color: black;
}
.home-img {
  margin-top: 10px;
  width: 120vh;
}
