.add-station {
  padding: 15px;
  width: 30vw;
  border: solid 2px black;
  z-index: 1;
  background-color: transparent;
  color: black;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  padding: 10%;
}
.relative {
  display: flex;
  flex-direction: row;
}
.header-main {
  background-size: cover;
  background-color: whitesmoke;
}
.header > h1,
.second > h1 {
  font-size: 50px;
  text-align: center;
}
.header > p {
  color: black;
  font-weight: bold;
  z-index: 1;
}
.second > div > li {
  font-size: larger;
  margin: 10px;
}
.second {
  background-color: #53ce98;
  padding: 60px;
  gap: 400px;
  display: flex;
  flex-direction: row;
}
.second > div > img {
  width: 150px;
  align-self: flex-end;
  justify-self: flex-end;
}
